@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Josefin+Sans:wght@300&family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap");
$primary: #6300ff;
$button-color: #baa0e5;
$button-hover-color: #61468a;
$border-color: #1f0052;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Raleway", "Fredoka", "Josefin Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.morePictures {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 0.75rem;
    margin: 0.5rem 0;
    background: $button-color;
    font-size: 1.35rem;
    font-weight: bolder;
    color: #ffffff;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
